@import '../../../../../assets/styles/theme';
@import '../../../../../assets/styles/functions';

//$padding: 2px;

//.image-hover {
//  cursor: pointer;
//  display: flex;
//  flex-direction: column;
//  width: 417px;
//  height: auto;
//  position: relative;
//  * {
//    transition-duration: 1s;
//  }
//  .image-wrapper {
//    padding: $padding;
//    width: calc(100% - $padding * 2);
//    display: flex;
//    justify-content: center;
//    .image-wrapper-background {
//      position: absolute;
//      width: 100%;
//      height: 291px;
//      z-index: 1;
//    }
//    &.second-image {
//      position: relative;
//      top: -55px;
//    }
//  }
//  img {
//    margin-top: $padding;
//    object-fit: cover;
//    height: 287px;
//    width: 100%;
//    z-index: 2;
//  }
//  &:hover {
//    * {
//      transition-duration: 1s;
//      border-radius: 308px;
//    }
//    .image-wrapper-background {
//      background-color: var(--color);
//    }
//  }
//}

.featured-container {
  display: flex;
}

.featured-heading {
  margin-bottom: 140px;
}

.featured-tabs h3 {
  width: fit-content;
  cursor: pointer;
  font-size: 36px;
  line-height: 113%;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  margin-bottom: 32px;
  &.selected {
    border-bottom: 2px solid var(--color);
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.featured-tabs {
  // TODO: change later for procents;
  margin-right: 390px;
}

.featured {
  margin-bottom: 180px;
}
