<!--<div class="image-hover">-->
<!--  <div class="image-wrapper">-->
<!--    <div class="image-wrapper-background"></div>-->
<!--    <img src="assets/images/image4.png" alt="image">-->
<!--  </div>-->
<!--  <div class="image-wrapper second-image">-->
<!--    <div class="image-wrapper-background"></div>-->
<!--    <img src="assets/images/image3.png" alt="image">-->
<!--  </div>-->
<!--</div>-->

<!--<ng-template #doubleImage>-->

<!--</ng-template>-->

<div class="featured">
  <div class="featured-heading">
    <h1>featured</h1>
    <h2>work</h2>
  </div>
  <div class="featured-container">
    <div class="featured-tabs">
      <h3
        *ngFor="let tab of tabs"
        (click)="changeTab(tab)"
        [ngClass]="{ selected: chosenTab === tab }"
      >
        {{ tab }}
      </h3>
    </div>
    <happi-featured-work-items [items]="items"></happi-featured-work-items>
  </div>
</div>
