h6 {
  font-family: Syne, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 113%;
  letter-spacing: -0.02em;
  max-width: 655px;
  margin-top: 0;
  margin-bottom: 80px;
}

.featured-list {
  display: flex;
  flex-wrap: wrap;
}

.featured-item {
  cursor: pointer;
  width: 417px;
  margin-right: 24px;
  margin-bottom: 64px;
  &:nth-child(2n) {
    margin-right: 0;
  }
  img {
    width: 100%;
    height: 512px;
    margin-bottom: 24px;
  }
  h3 {
    margin-bottom: 8px;
    font-size: 40px;
    line-height: 99%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}
